################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/uni_proj/FileContentIndex/584bdfc9-547e-4839-8b9b-9cb499e7f11d.vsidx
/.vs/uni_proj/FileContentIndex/8056672b-18a5-476d-b5b1-0894ab131641.vsidx
/.vs/uni_proj/FileContentIndex
/.vs/uni_proj/FileContentIndex
/.vs/uni_proj/FileContentIndex/38b4e3a0-bd28-4161-8680-baf6f1d5045e.vsidx
/.vs/uni_proj/FileContentIndex/55d35bd5-eef0-4d98-bd9d-1f59c9ccdcb6.vsidx
/.vs/uni_proj/FileContentIndex/af8ca276-da75-41b9-a4f3-cbb7af6d27fb.vsidx
