################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/uni_proj/FileContentIndex/584bdfc9-547e-4839-8b9b-9cb499e7f11d.vsidx
