################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/uni_proj/FileContentIndex/584bdfc9-547e-4839-8b9b-9cb499e7f11d.vsidx
/.vs/uni_proj/FileContentIndex/8056672b-18a5-476d-b5b1-0894ab131641.vsidx
/.vs/uni_proj/FileContentIndex
/.vs/uni_proj/FileContentIndex
